@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      scroll-behavior: smooth;
    }
  }

.active {
    font-weight: bold;
    text-shadow: 2px 2px 4px crimson;
}

.custom-shape-divider-bottom-1678087349 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678087349 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 78px;
}

.custom-shape-divider-bottom-1678087349 .shape-fill {
    fill: #FFF0F3;
}

.custom-shape-divider-top-1678091487 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1678091487 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 55px;
}

.custom-shape-divider-top-1678091487 .shape-fill {
    fill: #FFF0F3;
}
